.main-forgot-pass-div {
  width: 100%;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-forgot-pass {
  width: 35%;
  min-height: 75vh;

  background: rgba(29, 29, 29, 0.5);
  /* Black Colors / Black 3 */

  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #282828;
  border-radius: 12px 12px 12px 12px;
}
.forgot-text {
  width: 100%;
  height: 8vh;
  background-color: #1d1d1d;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 3%;
}
.sec-forgot-pass p {
  color: white;
  text-align: center;
  padding: 5%;
  line-height: 3;
  font-weight: 1;
}
.form-container-forgot {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.submit-btn-forgot {
  width: 25%;
  height: 7vh;
  border: none;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1240px) {
  .sec-forgot-pass {
    width: 40%;
    min-height: 75vh;
  }
}

@media screen and (max-width: 1000px) {
  .sec-forgot-pass {
    width: 50%;
    min-height: 75vh;
  }
}

@media screen and (max-width: 815px) {
  .sec-forgot-pass {
    width: 60%;
    min-height: 75vh;
  }
}

@media screen and (max-width: 710px) {
  .sec-forgot-pass {
    width: 70%;
    min-height: 75vh;
  }
}

@media screen and (max-width: 600px) {
  .sec-forgot-pass {
    width: 80%;
    min-height: 75vh;
  }
}

@media screen and (max-width: 479px) {
  .sec-forgot-pass {
    width: 90%;
    min-height: 80vh;
  }
}
