.community-signup-container {
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .community-signup-body {
    height: fit-content;
    width: 710px;
    background: rgba(29, 29, 29, 0.7);
    border-radius: 16px;
    color: white;
    display: flex;

    h1 {
      color: white;
      text-align: center;
      font-size: 32px;
    }

    .community-signup-leftside {
      width: 50%;

      div {
        .community-signup-inputs-title {
          margin: 27px 0 10px 0;

          h5 {
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 600;
            line-height: 22px;
          }
        }

        .community-signup-inputs-error {
          color: rgb(224, 16, 16);
          margin: 2px 0 10px 0;
        }

        input {
          width: 100%;
          background: #282828;
          border-radius: 12px;
          border: none;
          padding: 10px 12px;
          display: flex;
          color: white;
          height: 44px;

          &:focus {
            background: #000000;
            border: 2px solid rgba(47, 128, 237, 0.3);
            outline: none;
          }
        }
      }

      .username-input-container {
        div {
          display: flex;
          align-items: center;

          span {
            font-size: 14px;
            background: #272b30;
            border: 1px solid rgba(255, 255, 255, 0.12);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
              inset 0px 0px 1px #000000;
            border-radius: 4px;
            padding: 2px 8px;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #f4f4f4;
            margin-left: 5px;
          }
        }

        .username-input-div {
          position: relative;
          .username-input {
            padding-right: 80px;
          }

          .available-username {
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 12px;
            line-height: 19.6px;
          }
        }
      }
    }

    .community-signup-rightside {
      width: 50%;

      .community-signup-pofile-image {
        h5 {
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          margin: 20px 0 0 0;
        }

        p {
          font-size: 12px;
          margin-bottom: 0;
          line-height: 20px;
        }

        .profile-image {
          position: relative;

          .img-preview {
            height: 90px;
            width: 90px;
          }
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      .community-signup-interests {
        h5 {
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          margin: 20px 0 0 0;
        }

        .community-signup-interests-items {
          display: flex;
          flex-wrap: wrap;

          div {
            cursor: pointer;
            display: flex;
            background: #282828;
            border-radius: 12px;

            align-items: center;
            padding: 10px 16px;
            width: 45%;
            margin: 5px 5px 5px 0;

            h6 {
              margin: 0 0 0 5px;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
            }
          }

          .selected {
            border: 1px solid white;
          }
        }
      }

      .community-signup-agree-terms {
        div {
          display: flex;

          input {
            accent-color: green;
          }

          input[type="checkbox"] {
            accent-color: black;
          }

          p {
            font-weight: 400;
            font-size: 10px;
          }
        }

        .community-signup-continue {
          width: 90%;
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 6px 0;
          border: none;
          height: 43px;
          background: #000000;
          border-radius: 12px;
          color: white;
          font-weight: 600;
          font-size: 16px;
          margin-top: 10px;
        }
        .community-signup-continue-disabled {
          pointer-events: none;
          color: #818181;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .community-signup-container {
    .community-signup-body {
      width: 95%;

      .community-signup-leftside {
        div {
          .community-signup-inputs-title {
            h5 {
              font-size: 15px;
            }
          }
        }

        .username-input-container {
          div {
            span {
              font-size: 10px;
            }
          }
        }
      }

      .community-signup-rightside {
        .community-signup-pofile-image {
          h5 {
            font-size: 15px;
          }

          p {
            font-size: 10px;
          }
        }

        .community-signup-interests {
          h5 {
            font-size: 15px;
          }

          .community-signup-interests-items {
            div {
              h6 {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .community-signup-container {
    .community-signup-body {
      .community-signup-leftside {
        .username-input-container {
          div {
            span {
              font-size: 8px;
            }
          }
        }
      }

      .community-signup-rightside {
        .community-signup-pofile-image {
          p {
            font-size: 8px;
          }
        }

        .community-signup-interests {
          .community-signup-interests-items {
            div {
              h6 {
                font-size: 8px;
              }
            }
          }
        }

        .community-signup-agree-terms {
          div {
            p {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .community-signup-container {
    height: fit-content;
    // margin-top: 50px;

    .community-signup-body {
      flex-direction: column;

      .community-signup-leftside {
        width: 90%;

        div {
          .community-signup-inputs-title {
            h5 {
              font-size: 16px;
            }

            span {
              font-size: 10px;
            }
          }
        }
      }

      .community-signup-rightside {
        width: 90%;

        .community-signup-pofile-image {
          h5 {
            font-size: 16px;
          }

          p {
            font-size: 11px;
          }

          .profile-image {
            input {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .community-signup-interests {
          h5 {
            font-size: 16px;
          }

          .community-signup-interests-items {
            justify-content: center;

            div {
              h6 {
                font-size: 0.9rem;
              }
            }
          }
        }

        .community-signup-agree-terms {
          div {
            p {
              font-size: 11px;
            }
          }

          .community-signup-continue {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .community-signup-container {
    .community-signup-body {
      .community-signup-rightside {
        .community-signup-interests {
          .community-signup-interests-items {
            flex-direction: column;

            div {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
