.right-15rem {
  right: -15rem;
}

.mt-6 {
  margin-top: 6rem;
}


.mt-7 {
  margin-top: 7rem;
}

.mt-10 {
  margin-top: 10rem;
}

.circle {
  width: 200px;
  height: 200px;
  top: -18px;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  position: absolute;
  border-radius: 100%;
  left: -50px;
}

@media (max-width:768px) {
  .right-15rem {
    right: 0;
  }

  .circle {
    top: 0;
    left: 0;
  }
}



.about-page-container {
  // height: 89vh;

  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // overflow: auto;
  height: 89vh;
  display: flex;

  align-items: center;
  justify-content: center;

  .about-page-content {
    // border: 1px solid black;

    width: 100%;

    height: 100%;
    justify-content: center;
    display: flex;

    .about_page_nested_container {
      width: 85%;
      height: 100%;
      overflow-y: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: transparent;
      }

      .about-page-heading {
        h3 {
          font-size: 24px;
          font-weight: bold;
          color: white;
        }
      }

      .about-page-description {
        p {
          font-size: 18px;
          line-height: 25px;
          width: 960px;
          font-weight: lighter;
          color: #ffffff;
          text-align: left;
        }
      }

      .about-page-end {
        margin-top: 50px;

        .about-page-end-heading {
          h3 {
            font-size: 24px;
            font-weight: bold;
            color: white;
          }
        }

        .hexagon-container {
          display: flex;

          .hexagon {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 20px;

            .hexagon_body_container {
              .hexagon_text_head {
                // font-family: "Montserrat-Alt1";
                font-weight: bold;
                font-size: 15px;
                line-height: 11px;
                color: #828282;
                margin-bottom: 4px;
              }

              .hexagon_text_body {
                margin-top: 6px;
                font-weight: bold;
                font-size: 9px;
                line-height: 9px;
                color: #828282;
                text-align: center;
              }
            }

            .twitter_icon_about_page {
              right: 20px;
              bottom: -5px;
            }
          }
        }
      }
    }
  }
}

// .hexa{
//   width: 90%;
//   height: auto;
// }

@media screen and (max-width: "1190px") {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        width: 85%;

        .about-page-end {
          .hexagon-container {
            .hexagon {
              .hexa {
                width: 120px;
              }

              .twitter_icon_about_page {
                width: 30px;
              }
            }
          }
        }

        .about-page-description {
          p {
            width: 800px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        width: 85%;

        .about-page-end {
          .hexagon-container {
            .hexagon {
              .hexa {
                width: 110px;
              }

              .twitter_icon_about_page {
                width: 28px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        .about-page-description {
          p {
            width: 650px;
          }
        }

        .about-page-end {
          .hexagon-container {
            flex-wrap: wrap;
            width: fit-content;

            margin: 0 auto;

            .hexagon {
              width: 18%;
              margin-bottom: 10px;

              .hexa {
                width: 100px;
              }

              .twitter_icon_about_page {
                width: 22px;
                right: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        .about-page-description {
          p {
            width: 600px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        width: 90%;

        .about-page-description {
          p {
            font-size: 15px;
            width: 550px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        .about-page-description {
          p {
            width: 90%;
            font-size: 14px;
          }
        }

        .about-page-end {
          .hexagon-container {
            .hexagon {
              width: 24%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .about-page-container {
    .about-page-content {
      .about_page_nested_container {
        .about-page-description {
          p {
            width: 100%;
          }
        }

        .about-page-end {
          .hexagon-container {
            justify-content: center;

            .hexagon {
              width: 35%;

              .hexa {
                width: 100px;
              }

              .hexagon_body_container {
                .hexagon_text_head {
                  font-size: 13px;
                }

                .hexagon_text_body {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}